node_modules/**

src/**
test/**

README.md
LISCENSE

commitlint.config.js
*.test.js

.github/**
.env.defaults

.eslintignore
.eslintrc


.huskyrc
.prettierrc.json
jest.config.js
rollup.config.js
release.config.js
tsconfig.json